DATABASE_URL=postgresql://user:pass@ep-xxxx.aws.neon.tech/db?sslmode=require
JWT_SECRET=tu-clave-secreta-aqui-cambiala
LICENSE_SECRET_KEY=tu-otra-clave-secreta-aqui-cambiala
ADMIN_EMAIL=admin@ermaipos.com
ADMIN_PASSWORD=admin123
